
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');



body {
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    max-height: 100vh;
    height: 100vh;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Red Hat Display", sans-serif;
    background: hsl(0, 0%, 90%);
    text-align: start;
}

:root {
    --card-height: 470px;
    --card-width: 300px;
    --card-radius: 40px;
    --img-height: 100%;
    --img-radius: 33px;
    --card-padding: 7px;

}
* {
    box-sizing: border-box;
}

p,
a,
span, 
i, 
div,
article,
i {
    margin: 0;
}




.card__container {
    position: relative;
    height: var(--card-height) ;
    width: var(--card-width);
    padding: var(--card-padding);
    background: #fff;
    border-radius: var(--card-radius);
    overflow: hidden;
}

.card__img {
    overflow: hidden;
    background: url(../assets/girl.webp) no-repeat center center;
    
    width: 100%;
    height: var(--img-height);
    object-fit: cover;
    border-radius: var(--img-radius);
    transition: ease 1000ms;
   

    &:hover {
        background-size: 130%;
    }
}

.card__info {
    box-shadow: inset 0px -19px 47px #fff;
    background: linear-gradient(0, rgba(0, 36, 128, 0.091) 10%, transparent 90%);
    mask-image: linear-gradient(to top, #fff 26%, transparent 80%);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 22px;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    gap: .8em;
}

.card__info-username {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--card-padding);
    

    svg {
        width: 40px;
        height:40px;
    }
}

.card__description p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.card__info-followers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--card-padding);
    font-size: 14px;

}


.card__total-followers, .card__total-follows, .card__follow-btn{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--card-padding);
    align-items: center;

    i {
        color: rgb(255, 255, 255);
    }

}

.card__follow-btn button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background: #fff;
    border: none;
    outline: none;
    padding: calc(var(--card-padding) + 3px) 1.25rem;
    border-radius: 100px;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    &:hover {
        background-color: #333;
        color: #fff;
        box-shadow: unset;
        transition: ease 300ms;
        i {
            color: #fff;
        }
    }


i {
        color: #333;
    }
}




a {
    text-decoration: none;
    color: #333;
    &:hover {
        color: rgb(0, 124, 19);
    }
}